<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card card-sh">
                    <div class="card-header text-center bg-info-subtle bg-gradient">
                        <p class="fs-4 m-auto">Edit Product</p>

                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/updateProduct/{id}(id=${product.id})}" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="mb-2">Enter Title</label>
                                <input type="text" name="title" th:value="${product.title}" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="mb-2">Enter Description</label>
                                <textarea rows="3" cols="" class="form-control" name="description">[[${product.description}]]</textarea>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="mb-2">Category</label>
                                    <select class="form-control" name="category">
                                        <option style="background-color: orange">[[${product.category}]]</option>
                                        <option th:each="c:${categories}">[[${c.name}]]</option>
                                    </select>
                                </div>
                                <div class="mb-3 col">
                                    <label class="mb-2">Enter Price</label>
                                    <input type="number" name="price" th:value="${product.price}" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="mb-2">Discount</label>
                                    <input type="number" name="discount" th:value="${product.discount}" class="form-control">
                                </div>
                                <div class="mb-3 col">
                                    <label class="mb-2">Discounted Price</label>
                                    <input type="number" readonly th:value="${product.discountedPrice}" class="form-control">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2">Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:checked="${product.isActive==true}"
                                           value="true" name="isActive" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1"> Active</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" th:checked="${product.isActive==false}"
                                           value="false" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2"> Inactive</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="mb-2">Enter Stock</label>
                                    <input type="text" name="stock" th:value="${product.stock}" class="form-control">
                                </div>

                                <div class="mb-3 col">
                                    <label class="mb-2">Upload Image</label>
                                    <input type="file" name="file" class="form-control">
                                </div>
                                <div class="mb-2 row justify-content-center">
                                    <img class="object-fit-cover col-md-6" th:src="@{'/img/product_img/'+${product.image}}" width="100px" height="100px">
                                </div>
                            </div>
                            <button class="btn btn-primary col-md-12">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>