<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center mt-4 p-2 justify-content-center bg-body-secondary">
                <i class="fa-solid fa-folder" style="color: salmon; margin-right: 10px; font-size: 1.5rem;"></i>
                <p class="fs-3 mb-0 fw-bold text-success"> All Products</p>
            </div>
            <hr>
            <a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-arrow-left" style="margin-left: 10px"></i> Back</a>
            <div class="col-md-12">
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>

            <div class="col-md-5 p-4 offset-md-3">
                <form action="/admin/products" method="get">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control rounded border border-success custom-hover" name="keyword">
                            <button class="btn btn-light text-dark ms-4 col-md-2 rounded border border-success custom-hover">
                                <i class="fa-solid fa-magnifying-glass"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-2 mb-4">
            <div class="table-responsive">
                <table class="table table-striped table-bordered card-sh">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Discounted Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p,c:${products}">
                            <th scope="row">[[${(pageNo * pageSize) + c.count}]]</th>
                            <td>
                                <img class="object-fit-cover" th:src="@{'/img/product_img/'+${p.image}}" width="80px" height="80px">
                            </td>
                            <td>[[${p.title}]]</td>
                            <td>[[${p.category}]]</td>
                            <td>[[${p.price}]]</td>
                            <td>[[${p.discount}]]</td>
                            <td>[[${p.discountedPrice}]]</td>
                            <td>[[${p.isActive}]]</td>
                            <td>[[${p.stock}]]</td>
                            <td>
                                <a th:href="@{'/admin/editProduct/'+${p.id}}" class="btn btn-sm btn-primary"><i
                                    class="fa-solid fa-pen-to-square"></i> Edit</a>
                                <a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash"></i> Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Pagination Section -->
            <div class="row">
                <div class="col-md-12">
                    <th:block th:if="${productsSize > 0}">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${isFirst} ? 'disabled':''">
                                    <a class="page-link"
                                       th:href="@{'/admin/products?pageNo=' + (${pageNo - 1}) + '&keyword=' + ${keyword}}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li th:each="i:${#numbers.sequence(1,totalPages)}"
                                    class="page-item" th:classappend="${pageNo+1==i}?'active':''">
                                    <a class="page-link"
                                       th:href="@{'/admin/products?pageNo='+${i-1} + '&keyword=' + ${keyword}}">[[${i}]]</a>
                                </li>

                                <li class="page-item"
                                    th:classappend="${isLast} ? 'disabled':''">
                                    <a class="page-link"
                                        th:href="@{'/admin/products?pageNo='+${pageNo+1} + '&keyword=' + ${keyword}}"
                                        aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </th:block>
                </div>
                <div class="col mb-2">
                    Total Products: [[${totalElements}]]
                </div>
            </div>


        </div>
    </div>

</section>
</body>
</html>