<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5 bg-light">
        <div class="row justify-content-center">
            <div class="col mb-5">
                <div class="card card-sh border border-info">
                    <div class="card-header text-center bg-info-subtle bg-gradient">
                        <p class="fs-3 m-auto text-center"> <i class="fa-solid fa-address-card" style="color: blue"></i> Profile</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold  text-center">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold  text-center">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-5 mt-2">
                            <img alt="" th:src="@{'../img/profile_img/'+${users.profileImage}}"
                                 class="border border-success p-2 object-fit-cover"
                                 style="width: 110px; height: 110px; border-radius: 50%;">
                        </div>
                        <!--                        <div class="col-md-8 offset-md-2">-->
                        <table class="table table-borderless">
                            <tbody>
                            <form action="/admin/update-profile" method="post" enctype="multipart/form-data">
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="name" class="form-control"
                                               th:value="${users.name}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Mobile Number</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="mobileNumber" class="form-control"
                                               th:value="${users.mobileNumber}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="" class="form-control" readonly
                                               th:value="${users.email}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="address" class="form-control"
                                               th:value="${users.address}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">City</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="city" class="form-control"
                                               th:value="${users.city}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">State</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="state" class="form-control"
                                               th:value="${users.state}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Pincode</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="pincode" class="form-control"
                                               th:value="${users.pincode}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Select Profile Image</th>
                                    <td>:</td>
                                    <td>
                                        <input type="file" name="img" class="form-control" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Role Assigned</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="" class="form-control" readonly
                                               th:value="${users.role}">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Account Active</th>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="" class="form-control" readonly
                                               th:value="${users.isEnable}">
                                        <input type="hidden" th:value="${users.id}" name="id">
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                        <button class="btn btn-sm bg-primary text-light col-md-2 offset-md-4 mt-2 mb-3">Update</button>
                        <!--                        </div>-->
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card card-sh border border-info">
                    <div class="card-header text-center bg-info-subtle bg-gradient">
                        <p class="fs-3 m-auto text-center"><i class="fa-solid fa-lock" style="color: tomato"></i> Change Password</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                            <form action="/admin/change-password" method="post">
                                <tr>
                                    <th scope="row">Current Password</th>
                                    <td>:</td>
                                    <td><input type="password" name="currentPassword" class="form-control"></td>
                                </tr>
                                <tr>
                                    <th scope="row">New Password</th>
                                    <td>:</td>
                                    <td><input type="password" name="newPassword" class="form-control"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Confirm Password</th>
                                    <td>:</td>
                                    <td><input type="password" name="confirmPassword" class="form-control"></td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                        <button class="btn btn-sm bg-primary text-light col-md-2 offset-md-4 mt-2 mb-3">Update</button>
                    </div>
                </div>
            </div>
        </div>


</section>
</body>
</html>