<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5 bg-light">

        <div class="row justify-content-center mb-2">
            <div class="col-md-3">
                <th:block th:if="${session.succMsg}">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        [[${session.succMsg}]]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        [[${session.errorMsg}]]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col mb-5">
                <div class="card card-sh border border-info">
                    <div class="card-header text-center bg-body-secondary bg-gradient">
                        <p class="fs-3 m-auto text-center"> <i class="fa-solid fa-address-card" style="color: blue"></i> Profile</p>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-5 mt-2">
                            <img alt="" th:src="@{'../img/profile_img/'+${users.profileImage}}"
                                 class="border border-success object-fit-cover"
                                 style="width: 110px; height: 110px; border-radius: 50%;">
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                <form action="/admin/update-profile" method="post" enctype="multipart/form-data">
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="name" class="form-control" th:value="${users.name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mobile Number</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="mobileNumber" class="form-control" th:value="${users.mobileNumber}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="" class="form-control" readonly th:value="${users.email}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="address" class="form-control" th:value="${users.address}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">City</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="city" class="form-control" th:value="${users.city}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">State</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="state" class="form-control" th:value="${users.state}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pincode</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="pincode" class="form-control" th:value="${users.pincode}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Select Profile Image</th>
                                        <td>:</td>
                                        <td>
                                            <input type="file" name="img" class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Role Assigned</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="" class="form-control" readonly th:value="${users.role}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Account Active</th>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="" class="form-control" readonly th:value="${users.isEnable}">
                                            <input type="hidden" th:value="${users.id}" name="id">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th></th>
                                        <td>
                                            <button class="btn btn-warning col-md-12 offset-md-9 mt-4">Update</button>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card card-sh border border-info">
                    <div class="card-header text-center bg-body-secondary bg-gradient">
                        <p class="fs-3 m-auto text-center"><i class="fa-solid fa-lock" style="color: tomato"></i> Change Password</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                                <form action="/admin/change-password" method="post">
                                    <tr>
                                        <th scope="row">Current Password</th>
                                        <td>:</td>
                                        <td><input type="password" required name="currentPassword" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">New Password</th>
                                        <td>:</td>
                                        <td><input type="password" required name="newPassword" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Confirm Password</th>
                                        <td>:</td>
                                        <td><input type="password" required name="confirmPassword" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <button class="btn btn-warning col-md-10 offset-md-4 mt-4">Update</button>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
</body>
</html>