<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">
        <div class="card card-sh">
            <div class="card-header text-center bg-info-subtle bg-gradient">
                <p class="fs-4 m-auto">View Users</p>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Profile</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u,c:${allUsers}">
                            <th scope="row">[[${c.count}]]</th>
                            <td>
                                <img class="object-fit-cover" th:src="@{'/img/profile_img/'+${u.profileImage}}" width="80px" height="80px">
                            </td>
                            <td>[[${u.name}]]</td>
                            <td>[[${u.email}]]</td>
                            <td>[[${u.mobileNumber}]]</td>
                            <td>[[${u.address+', '+u.city+', '+u.state+', '+u.pincode}]]</td>
                            <td>[[${u.isEnable}]]</td>
                            <td>
                                <a th:href="@{'/admin/updateStatus?status=true&id='+${u.id}}" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-check"></i> Active</a>
                                <a th:href="@{'/admin/updateStatus?status=false&id='+${u.id}}" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-xmark"></i> Inactive</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
</body>
</html>