<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">
        <div class="card card-sh">
            <div class="card-header text-center bg-info-subtle bg-gradient">
                <p class="fs-4 m-auto fw-bold text-success">Cart</p>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cartItem,c:${cartContents}">
                            <th scope="row">[[${c.count}]]</th>
                            <td>
                                <img th:src="@{'/img/product_img/'+${cartItem.product.image}}" width="80px" height="80px" class="object-fit-cover">
                            </td>
                            <td>[[${cartItem.product.title}]]</td>
                            <td>&#8377; [[${cartItem.product.discountedPrice}]]</td>
                            <td class="text-center">
                                <a th:href="@{'/users/cartQuantityUpdate?sy=de&cid='+${cartItem.id}}" class="text-decoration-none">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span class="badge bg-secondary mx-2">[[${cartItem.quantity}]]</span>
                                <a th:href="@{'/users/cartQuantityUpdate?sy=in&cid='+${cartItem.id}}" class="text-decoration-none">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </td>
                            <td>&#8377; [[${cartItem.totalPrice}]]</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="fw-bold">Total Price</td>
                            <td class="fw-bold">&#8377; [[${totalOrderPrice}]]</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <a href="/users/orders" class="btn btn-warning"> Proceed to Payment</a>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>