<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>

    <div class="container" style="margin-top: 100px; margin-bottom: 80px">
        <form action="/users/save-order" method="post" id="orders" novalidate>
            <div class="row bg-body-tertiary card-sh p-4 justify-content-around">
                <div class="col-md-5 card-sh p-4 card">
                    <div class="mb-3 row">
                        <p class="text-center fs-4 fw-bold">Billing Address</p>
                        <hr>
                        <div class="col p-1 mt-1">
                            <label class="mb-2">First Name</label>
                            <input type="text" name="firstName" required class="form-control mt-1">
                        </div>
                        <div class="col p-1 mt-1">
                            <label class="mb-2 ms-2">Last Name</label>
                            <input type="text" name="lastName" required class="form-control mt-1 ms-2">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label class="mb-2">Email</label>
                            <input type="email" name="email" required class="form-control col">
                        </div>
                        <div class="col p-1">
                            <label class="mb-2 ms-2">Mobile Number</label>
                            <input type="text" name="mobileNo" required class="form-control col ms-2">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label class="mb-2">Address</label>
                            <input type="text" name="address" required class="form-control col">
                        </div>
                        <div class="col p-1">
                            <label class="mb-2 ms-2">City</label>
                            <input type="text" name="city" required class="form-control col ms-2">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label class="mb-2">State</label>
                            <input type="text" name="state" required class="form-control col">
                        </div>
                        <div class="col p-1">
                            <label class="mb-2 ms-2">Pincode</label>
                            <input type="number" name="pincode" required class="form-control col ms-2">
                        </div>
                    </div>
                </div>

                <div class="col-md-5 card card-sh p-4">
                    <p class="text-center fs-4 fw-bold">Payment Type</p>
                    <div class="card">
                        <div class="card-body border border-info card-sh rounded">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Total price</td>
                                        <td>:</td>
                                        <td>&#8377; [[${orderPrice}]]</td>
                                    </tr>
                                    <tr>
                                        <td>Delivery Fee</td>
                                        <td>:</td>
                                        <td>&#8377; 100</td>
                                    </tr>

                                    <tr>
                                        <td>Platform Fee</td>
                                        <td>:</td>
                                        <td>&#8377; 50</td>
                                    </tr>

                                    <tr class="border-top">
                                        <td>Total Price</td>
                                        <td>:</td>
                                        <td>&#8377; [[${totalOrderPrice}]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card p-2 mb-2 mt-4 card-sh border border-info">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Select Payment Type</label>
                                <select required name="paymentType" id="paymentType" class="form-control">
                                    <option value="">--Select--</option>
                                    <option value="COD">Cash On Delivery</option>
                                    <option value="ONLINE">Online Payment</option>
                                </select>
                            </div>
                            <button class="btn btn-warning col-md-6 offset-md-3 mt-4">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
</body>
</html>