<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section class="">
    <!-- Start Slider  -->

    <div id="carouselExample" class="carousel slide mt-5">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/homeImg-1.jpg" class="object-fit-cover d-block w-100" alt="..."
                     height="410px">
            </div>
            <div class="carousel-item">
                <img src="img/homeImg-3.jpg" class="object-fit-cover d-block w-100" alt="..."
                     height="410px">
            </div>
            <div class="carousel-item">
                <img src="img/homeImg-4.jpg" class="object-fit-cover d-block w-100" alt="..."
                     height="410px">
            </div>
            <div class="carousel-item">
                <img src="img/homeImg-2.jpg" class="object-fit-cover d-block w-100" alt="..."
                     height="410px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- End Slider  -->

    <!--< Start Category Module -->

    <div class="container-fluid p-3">
        <div class="row">
            <p class="text-center fs-4 bg-danger-subtle bg-gradient">Categories</p>

            <div class="col">
                <div class="card rounded-circle shadow-sm p-3 bg-light rounded ">
                    <div class="card-body text-center">
                        <img class="object-fit-cover" src="img/category_img/beuty.png" width="65%" height="140px">
                        <p>Beauty</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card rounded-circle shadow-sm p-3 bg-light rounded ">
                    <div class="card-body text-center">
                        <img class="object-fit-cover" src="img/category_img/pant.png" width="65%" height="140px">
                        <p>Clothes</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card rounded-circle shadow-sm p-3 bg-light rounded ">
                    <div class="card-body text-center">
                        <img class="object-fit-cover" src="img/category_img/laptop.jpg" width="65%" height="140px">
                        <p>Laptop</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card rounded-circle shadow-sm p-3 bg-light rounded ">
                    <div class="card-body text-center">
                        <img class="object-fit-cover bg-none" src="img/category_img/mobile.png" width="65%" height="140px">
                        <p>Mobile</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card rounded-circle shadow-sm p-3 bg-light rounded ">
                    <div class="card-body text-center">
                        <img class="object-fit-cover" src="img/category_img/monitor.jpg" width="65%" height="140px">
                        <p>Monitor</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- End Category Module -->

    <!-- Start Latest Products Module -->

    <div class="container-fluid p-3">
        <div class="row">
            <p class="text-center fs-4 bg-danger-subtle bg-gradient">Latest Products</p>

            <div class="col">
                <div class="card shadow-sm p-3 mb-5 bg-light rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/oneplus mobile.jpg" class="object-fit-cover" width="65%"
                             height="140px">
                        <p class="text-center">One Plus</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm p-3 mb-5 bg-light rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/iphone 14.jpg" class="object-fit-cover" width="65%"
                             height="140px">
                        <p class="text-center">iPhone 14</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm p-3 mb-5 bg-light rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/fridge.png" class="object-fit-cover" width="65%"
                             height="140px">
                        <p class="text-center">Fridge</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm p-3 mb-5 bg-light rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/grinder.jpg" class="object-fit-cover" width="65%"
                             height="140px">
                        <p class="text-center">Grinder</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- End Latest Products Module -->

</section>
</body>
</html>