<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section id="light-background">

    <!--< Start Category Module -->
    <div class="container-fluid p-3" style="margin-top: 70px">
        <div class="row">
            <p class="text-center fs-4 bg-body-secondary text-black bg-gradient">Categories</p>

            <div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-5">
                            <!-- First 6 items (use `th:each` for dynamic rendering) -->
                            <div class="col" th:each="c, iterStat : ${allActiveCategories}"
                                 th:if="${iterStat.index < 5}">
                                <div class="card shadow-sm bg-body-tertiary">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">
                                            <img th:src="@{'img/category_img/'+${c.imageName}}" width="100%"
                                                 height="260px" class="object-fit-cover mb-2">
                                        </a>
                                        <br>
                                        <a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-5">
                            <div class="col" th:each="c, iterStat : ${allActiveCategories}"
                                 th:if="${iterStat.index >= 5 && iterStat.index < 10}">
                                <div class="card shadow-sm bg-body-tertiary">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">
                                            <img th:src="@{'img/category_img/'+${c.imageName}}" width="100%"
                                                 height="260px" class="object-fit-cover mb-2">
                                        </a>
                                        <br>
                                        <a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add more carousel-item divs as needed to accommodate all categories -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    <!-- End Category Module -->

    <!-- Start Latest Products Module -->

    <div class="container-fluid p-3">
        <div class="row">
            <p class="text-center fs-4 bg-body-secondary text-black bg-gradient">Products</p>

            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-5">
                            <!-- First 6 products -->
                            <div class="col" th:each="p, iterStat : ${allActiveProducts}" th:if="${iterStat.index < 5}">
                                <div class="card shadow-sm bg-body-tertiary">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">
                                            <img th:src="@{'img/product_img/'+${p.image}}" width="100%" height="260px" class="object-fit-cover mb-2">
                                        </a>
                                        <br>
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-5">
                            <!-- Next 6 products -->
                            <div class="col" th:each="p, iterStat : ${allActiveProducts}" th:if="${iterStat.index >= 5 && iterStat.index < 10}">
                                <div class="card shadow-sm bg-body-tertiary">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">
                                            <img th:src="@{'img/product_img/'+${p.image}}" width="100%" height="260px" class="object-fit-cover mb-2">
                                        </a>
                                        <br>
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-5">
                            <!-- Next 6 products -->
                            <div class="col" th:each="p, iterStat : ${allActiveProducts}" th:if="${iterStat.index >= 10 && iterStat.index < 15}">
                                <div class="card shadow-sm bg-body-tertiary">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">
                                            <img th:src="@{'img/product_img/'+${p.image}}" width="100%" height="260px" class="object-fit-cover mb-2">
                                        </a>
                                        <br>
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-5">
                            <!-- Next 6 products -->
                            <div class="col" th:each="p, iterStat : ${allActiveProducts}" th:if="${iterStat.index >= 15 && iterStat.index < 20}">
                                <div class="card shadow-sm bg-body-tertiary">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">
                                            <img th:src="@{'img/product_img/'+${p.image}}" width="100%" height="260px" class="object-fit-cover mb-2">
                                        </a>
                                        <br>
                                        <a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add more carousel-item divs as needed for more products -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
    </div>


    <!-- End Latest Products Module -->

</section>
</body>
</html>