@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
	color: red;
}

.custom-hover:hover {
        background-color: #b8e0ea;
}

/* Highlight effect on hover */
#custom-dropdown .dropdown-item {
  position: relative; /* Ensure positioning context for pseudo-element */
}

#custom-dropdown .dropdown-item:hover::before {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position it relative to the li */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  width: 100%; /* Cover the full width */
  height: 100%; /* Cover the full height */
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background for highlight */
  border-radius: 0.25rem; /* Rounded corners */
  z-index: -1; /* Place it behind the text */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

#navbarSupportedContent .dropdown-item:hover {
  color: #ba9e04;
}

#navbarSupportedContent li:hover {
    background-color: #bd08aa;
    border-radius: 0.25rem;
}

navbar .nav-item .badge {
    font-size: 0.75rem;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    color: white;
    background-color: #ff9900;
}

.custom-box {
    background-color: #93ece7;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.custom-box:hover {
    transform: translateY(-10px);
    background-color: #81e4e4;
}

.shopping-wizard {
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-icon:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    transition: transform 0.3s ease;
}

#cool-background {
    background: linear-gradient(135deg, #6c5ce7, #ff6b81);
    color: #333;
}

.card-style {
    background: rgba(255, 255, 255, 0.9);
}

#light-background {
    background: linear-gradient(135deg, #b8fce2, #a3f0d4, #8de1c8);
    color: #11edd7;
}

#lighter-background {
    background: linear-gradient(135deg, #e4f7f0, #d1f2eb, #bee6e7);
    color: #11edd7;
}


